<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="serverList" type="ClientProxyTray.ServerListSection, OverWall"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="localPort" value="9999"/>
    <add key="modifySystemProxy" value="true"/>
    <add key="minWorkerThreads" value="100"/>
    <add key="minIOThreads" value="100"/>
  </appSettings>
  <serverList>
    <add value="http://localhost:51641/" />
    <add value="http://localhost:51641/" />
    <add value="http://localhost:51641/" />
  </serverList>
</configuration>