<?xml version="1.0" encoding="utf-8" ?>
<configs>
  <Site>http://localhost:54764</Site>
  <Privacy>http://localhost:54764/privacy.html</Privacy>
  <SendPositionAPI>http://localhost:54764/Phone/SendPosition</SendPositionAPI>
  <GetDeviceOwnerAPI>http://localhost:54764/Phone/GetDeviceOwner</GetDeviceOwnerAPI>
  <BindDeviceAPI>http://localhost:54764/Phone/BindDevice</BindDeviceAPI>
  <UnbindDeviceAPI>http://localhost:54764/Phone/UnbindDevice</UnbindDeviceAPI>
</configs>