@{
    Layout = "SideBarLayout.cshtml";
    ViewBag.Title = "Help";
}

<h1 class="page-header">Help</h1>

<div>
    You can contact me via <a href="mailto:walkmap@outlook.com">walkmap@outlook.com</a>
</div>